* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 :root {
  --text-color: rgb(255, 255, 255);
  --bg-color: #000000;
  --surface-color: #14141400;
  --stroke-color: #0080ff;
  --surface-color-hover: #ffffff50;
  --highlighht-color: #bb9f00;
  --switch-bg-url: url(/assets/moon-stars.svg);
}

body {
  background-color: var(--bg-color);
  height: 100vh;
  background-attachment: fixed;
  margin: 0; margin: 0; 
  scroll-behavior: smooth;
}

body * {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-color);
}

.start-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #111111;
  position: relative;
  z-index: 1;
  opacity: 1; /* Inicialmente visível */
  transition: opacity 1s ease-out; /* Transição de opacidade para desaparecer */
  overflow: hidden;

}

svg {
  width: 80%;
  max-width: 600px;
}

text {
  fill: #bb9f0000;
  stroke: #bb9f00;
  stroke-width: 1.2;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  font-family: Georgia, serif;
}

.container-home {
  width: 100%;
  max-width: 588px;
  height: auto;
  margin: 56px auto 0px;
  padding: 0 24px;
  display: block;
  flex-direction: column;

}

#profile {
  text-align: center;
}

#profile img {
  width: 154px;
  border-radius: 50%;
}

#profile p {
  font-weight: 600;
  line-height: 34px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px 0;
}
ul li a {
  display: flex;
  align-items: center;
  background: var(--surface-color);
  border: 2px solid var(--stroke-color);
  border-radius: 15px;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  justify-content: center; /* Centraliza o texto */
}

ul li a i {
  position: absolute;
  left: 20px; /* Ícone à esquerda */
  font-size: 18px;
  color: var(--text-color);
}

li img {
  width: 100%;
  height: 85px;
  position: absolute;
  border-radius: 15px;
}

ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
  transform: translateY(-5px);
}

ul li a {
  flex-direction: row;
  justify-content: flex-start;
}

ul li a i,
li img {
  position: static;
}
footer {
  padding: 24px 0;
  text-align: center;
  font-size: 16px;
}

a {
  text-decoration: none;
}

ion-icon {
  font-size: 30px;
}

.map-container {
  text-align: center;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.226);
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.map-container h2 {
  margin-bottom: 5px;
  font-size: 1.5rem;
  padding: 10px;
  border-radius: 20px 20px 0px 0px;
  color: #ffffff;
}

.loc-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 800px;
  height: 300px;
  margin: 0 auto;
  margin-bottom: 15px;

  border-radius: 15px;
}

iframe {
  width: 95%;
  height: 100%;
  border: none;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

@media (max-width: 820px) {
  ul li a {
    flex-direction: row;
    justify-content: flex-start;
  }

  ul li a i,
  li img {
    position: static;
  }
  
}

@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-back {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}
